# Project Testing Field

### Loading SQL and reading AWS configrations from dwh.cfg file

In [1]:
%load_ext sql

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_ENDPOINT= config.get("CLUSTER","HOST")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_DB_PORT= config.get("CLUSTER","DB_PORT")
DWH_DB_NAME= config.get("CLUSTER","DB_NAME")

DWH_ROLE_ARN=config.get("IAM_ROLE", "ARN")

LOG_DATA = config.get("S3", "LOG_DATA")
LOG_JSONPATH = config.get("S3", "LOG_JSONPATH")
SONG_DATA = config.get("S3", "SONG_DATA")

KEY =config.get('AWS','KEY')
SECRET = config.get('AWS','SECRET')
REGION_NAME = config.get('AWS', 'REGION_NAME')

### Checking the files that exist in the bucket udacity-dend

In [3]:
import boto3

s3 = boto3.resource('s3',
                       region_name=REGION_NAME,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

sampleDbBucket =  s3.Bucket("udacity-dend")

for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

### Connecting to Database

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_DB_PORT, DWH_DB_NAME)

%sql $conn_string

'Connected: adminuser@dev'

### Creating the Tables and checking if they have been created successfully

In [5]:
!python3 create_tables.py

In [6]:
%sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'public';

 * postgresql://adminuser:***@redshift-cluster-1.cxusgsydjrjp.us-west-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('artist',),
 ('song',),
 ('songplay',),
 ('staging_events',),
 ('staging_songs',),
 ('time',),
 ('users',)]

### Loading the Data and checking if they have been loaded successfully to each table

In [7]:
!python3 etl.py

In [8]:
%sql SELECT * FROM staging_events LIMIT 5

 * postgresql://adminuser:***@redshift-cluster-1.cxusgsydjrjp.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('N.E.R.D. FEATURING MALICE', 'Logged In', 'Jayden', 'M', 0, 'Fox', 288.9922, 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', '1541033612796', 184, 'Am I High (Feat. Malice)', 200, 1541121934796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 101),
 (None, 'Logged In', 'Stefany', 'F', 0, 'White', None, 'free', 'Lubbock, TX', 'GET', 'Home', '1540708070796', 82, None, 200, 1541122176796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Death Cab for Cutie', 'Logged In', 'Stefany', 'F', 1, 'White', 216.42404, 'free', 'Lubbock, TX', 'PUT', 'NextSong', '1540708070796', 82, 'A Lack Of Color (Album Version)', 200, 1541122241796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Tracy Gang Pussy', 'Logged In', 'Stefany', 'F', 2, 'White', 221.33506, 'free', 'Lubbock, TX', 'PUT', 'NextSong', '1540708070796', 82, 'I Have A Wish', 200, 1541122457796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Skillet', 'Logged In', 'Kevin', 'M', 0, 'Arellano', 178.02404, 'free', 'Harrisburg-Carlisle, PA', 'PUT', 'NextSong', '1540006905796', 153, 'Monster (Album Version)', 200, 1541126568796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 66)]

In [9]:
%sql SELECT * FROM staging_songs LIMIT 5

 * postgresql://adminuser:***@redshift-cluster-1.cxusgsydjrjp.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('AR73AIO1187B9AD57B', 37.77916, 'San Francisco, CA', -122.42005, 'Western Addiction', 118.07302, 1, 'SOQPWCR12A6D4FB2A3', 'A Poor Recipe For Civic Cohesion', 2005),
 ('ARC1IHZ1187FB4E920', None, '', None, 'Jamie Cullum', 246.9873, 1, 'SOXZYWX12A6310ED0C', "It's About Time", 0),
 ('ARGE7G11187FB37E05', None, 'Brooklyn, NY', None, 'Cyndi Lauper', 240.63955, 1, 'SONRWUU12AF72A4283', 'Into The Nightlife', 2008),
 ('ARBZIN01187FB362CC', 1.32026, '27', 103.78871, 'Paris Hilton', 192.28689, 1, 'SOERIDA12A6D4F8506', 'I Want You (Album Version)', 2006),
 ('ARTC1LV1187B9A4858', 51.4536, "Goldsmith's College, Lewisham, Lo", -0.01802, 'The Bonzo Dog Band', 301.40036, 1, 'SOAFBCP12A8C13CC7D', 'King Of Scurf (2007 Digital Remaster)', 1972)]

In [10]:
%sql SELECT * FROM artist LIMIT 5

 * postgresql://adminuser:***@redshift-cluster-1.cxusgsydjrjp.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('AR5LMPY1187FB573FE', 'Chaka Khan_ Rufus', 'Chicago, IL', 41.88415, -87.63241),
 ('AR5AA4Q1187FB4CFBD', "Alisha's Attic", '', None, None),
 ('ARGS47D1187FB40225', 'Peter And Gordon', 'London, England', None, None),
 ('ARNQAVF11F4C844C04', 'Despina Vandi', '', None, None),
 ('ARWYVP51187B98C516', 'The Suicide Machines', 'Detroit, MI', 42.33168, -83.04792)]

In [11]:
%sql SELECT * FROM song LIMIT 5

 * postgresql://adminuser:***@redshift-cluster-1.cxusgsydjrjp.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, 209.60608),
 ('SOAPERH12A58A787DC', 'The One And Only (Edited)', 'ARZ5H0P1187B98A1DD', 0, 230.42567),
 ('SOABWAP12A8C13F82A', 'Take Time', 'AR5LMPY1187FB573FE', 1978, 258.89914),
 ('SOSRVUJ12AB018731E', 'Walk the Walk', 'ARD8E0V1187FB5C3DB', 2000, 290.16771),
 ('SOHUOAP12A8AE488E9', 'Floating', 'ARD842G1187B997376', 1987, 491.12771)]

In [12]:
%sql SELECT * FROM songplay LIMIT 5

 * postgresql://adminuser:***@redshift-cluster-1.cxusgsydjrjp.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(2, datetime.datetime(2018, 11, 8, 15, 1, 57), 29, 'paid', 'SOFVOQL12A6D4F7456', 'ARPN0Y61187B9ABAA0', 372, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (4, datetime.datetime(2018, 11, 26, 15, 33, 56), 72, 'paid', 'SODOLVO12B0B80B2F4', 'AR6XPWV1187B9ADAEB', 381, 'Detroit-Warren-Dearborn, MI', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:30.0) Gecko/20100101 Firefox/30.0'),
 (10, datetime.datetime(2018, 11, 16, 16, 27, 21), 90, 'free', 'SOMUJKC12AB01865AD', 'AR9RYZP1187FB36C6A', 148, 'Pensacola-Ferry Pass-Brent, FL', 'Mozilla/5.0 (X11; Linux x86_64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (16, datetime.datetime(2018, 11, 26, 13, 31, 57), 36, 'paid', 'SOVPSWY12A58A7B83F', 'ARF91NB1187B98BDB8', 808, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (18, datetime.datetime(2018, 11, 26, 7, 8, 28), 49, 'paid', 'SOYQYTX12AB0186FFA', 'ARWVF341187B9B55D8', 930, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [13]:
%sql SELECT * FROM time LIMIT 5

 * postgresql://adminuser:***@redshift-cluster-1.cxusgsydjrjp.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(datetime.datetime(2018, 11, 26, 13, 31, 57), 13, 26, 48, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 26, 7, 8, 28), 7, 26, 48, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 29, 1, 38, 30), 1, 29, 48, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 19, 7, 37, 44), 7, 19, 47, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 19, 3, 58, 5), 3, 19, 47, 11, 2018, '1')]

In [14]:
%sql SELECT * FROM users LIMIT 5

 * postgresql://adminuser:***@redshift-cluster-1.cxusgsydjrjp.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(101, 'Jayden', 'Fox', 'M', 'free'),
 (83, 'Stefany', 'White', 'F', 'free'),
 (66, 'Kevin', 'Arellano', 'M', 'free'),
 (86, 'Aiden', 'Hess', 'M', 'free'),
 (15, 'Lily', 'Koch', 'F', 'paid')]